<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="contanier">
    <h1 id="login-header">Welcome!</h1>

    <div class="field">
        <input type="text" name="username" placeholder="Username"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
    <div class="buttons-group">
        <button type="submit" name="login-button">Login</button>
        <p><a href="signup/">New here?</a> </p>
    </div>
</div>

</body>
</html>